/*Estilo NavBar Global*/
.estiloNavBar{
	font-family:'Galada', cursive; 
	font-size: 20px
}

/*botão login*/
.botaoLogin {
	text-align: center;
	font-family: arial;
	font-weight: bold;
}

/*Estilo do texto institucional*/
.textoInstitucional{
	padding: 20px;
	text-align: left;
	font-family: arial;
	margin: 20px;
}

.textoInstitucional a{
	text-decoration-color: none black;
}


/*Estilo do footer*/
footer {
	padding: 20px;
	text-align: center; 
	background: silver;opacity: 100%;
	font-family: arial; 
	font-size: 15px
}