/*Estilo NavBar Global*/
.estiloNavBar{
	font-family:'Galada', cursive; 
	font-size: 20px
}

/*botão login Global*/
.botaoLogin {
	text-align: center;
	font-family: arial;
	font-weight: bold;
}

.form{
	font-family: arial;
	padding: 10px;
}

.form p, label, input{
	font-family: arial;
	padding: 5px;
}

/*Estilo do texto institucional*/
#tituloInstitucional{
	font-family:'Galada', cursive; 
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0.1em 0.2em #333;
}

.cardInstitucional{
	padding: 20px;
	text-align: left;
	font-family: arial;
	margin: 20px;
	max-width: 20rem;
}


.cardInstitucional a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*Estilo do footer Global*/
footer {
	padding: 20px;
	text-align: center; 
	background-image: linear-gradient(to top , white, silver, gray);
	font-family: arial; 
	font-size: 14px
}