/*Estilo NavBar Global*/
.estiloNavBar{
	font-family:'Galada', cursive; 
	font-size: 20px
}

/*botão login Global*/
.botaoLogin {
	text-align: center;
	font-family: arial;
	font-weight: bold;
}


/*Estilo do footer Global*/
footer {
	padding: 20px;
	text-align: center; 
	background-image: linear-gradient(to top , white, silver, gray);
	font-family: arial; 
	font-size: 14px
}